.control {
    display: flex;
    flex-direction: row;
}

.markdown-control {
    width: 100%;
}

.table {
    border: none;
}

textarea {
    width: 100%;
    color: var(--text-primary-color,rgba(0, 0, 0, .9)) !important;
}

pre, code {
    color: var(--text-primary-color,rgba(0, 0, 0, .9)) !important;
}

.CodeMirror {
    background: inherit !important;
	height: 500px !important;
}

.editor-toolbar a {
    color: inherit !important;
}

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
    display: none !important;
}

.CodeMirror-cursor {
    border-left: 1px solid var(--text-primary-color,rgba(0, 0, 0, .9)) !important;
}

.mdcontainer{
    padding-right: 1px;
}

.editor-toolbar a:hover, .editor-toolbar a.active {
    color: #000!important;
}

.editor-toolbar, .editor-toolbar:hover{
    opacity: 1!important;
}

hr {
    border-top: 1px solid var(--text-disabled-color) !important;
}